{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
  {% for s in page.sidebar %}
  {% if s.image %}
  <img src="{{ s.image }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
  {% endif %}
  {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
  {% if s.text %}{{ s.text | markdownify }}{% endif %}
  {% endfor %}
  {% endif %}
  <!-- hitwebcounter Code START -->
  <a href="https://www.hitwebcounter.com" target="_blank">
    <img src="https://hitwebcounter.com/counter/counter.php?page=9349301&style=0003&nbdigits=6&type=page&initCount=0"
      title="Counter Widget" Alt="Visit counter For Websites" border="0" /></a>
</div>
{% endif %}